@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

#landing{
  background-image: url('./banner.png'); 
  background-size: cover !important;
  height: 100vh;
  width: 100% ;
  margin:0px !important;
}
#profile{
  width: 250px;
}
#name{
  font-family: 'Merienda', cursive;
  color: #dc143c;
  font-size: 3rem;
  /* padding-bottom: 10px !important; */
}
.about{
  text-align: center;
  font-size: 30px;  
  background-color :rgba(0, 0, 0, 0.527);
}
.h{
  color: white;
  font-size: 35px;
}
.c{
  color: crimson;
  margin-top: 10px;
}
.para
{
  color: white;
}
.tab-pane {
  font-size: 22px !important;
}
.tab-link{
  font-size: 18px !important;
}
.active{
  border-bottom: 2px solid crimson !important;
}
.tab-pane{
  border-bottom: 0px solid black !important;
}
#namesec{
  margin-top: 13rem;
}
.card-header{
  color: white;
  font-size: 25px;
  border-bottom: 1px solid crimson;
}
.aboutcard{
  border-radius: 30px 0px 30px 0px;
  background: #000;
}
.aboutcard:hover{
  background:rgba(220, 20, 60, 0.342);
 
  border: 1px solid crimson !important;
  transition: all 0.2s ease-in-out !important;
}
.card-text{
  color: white;
  font-size: 21px;
}


.bottom{
  margin-top: 200px !important;
}

@media (max-width:767px) {
  .bottom{
    margin-top: 0px !important;
  }
  .card-text{
    font-size: 20px;
  }
  
#landing{
  background-image: url('./banner.png'); 
  background-size: cover !important;
  /* height: fit-content !important; */
  width: 100% ;
  margin:0px !important;
}


}
/* skills */
*{
  box-sizing: border-box;
}

/* Set a background color */
#skills {
  background-color: black;
  /* font-family: Helvetica, sans-serif;? */
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* box around content */
.box {
  padding: 1rem 4rem;
  position: relative;
  
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: white;
  border: 4px solid crimson;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the box to the left */
.left {
  left: 0;
}

/* Place the box to the right */
.right {
  left: 50%;
}

/* Add arrows to the left box (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 20px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right box (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for boxs on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width boxs */
  .box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .box::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right boxs behave like the left ones */
  .right {
    left: 0%;
  }
}
.stars{
  color: #dc143c;
  font-size: 30px;
}
@media (max-width:767px) and (max-height:1040px) {
  #landing{
    height: 120vh;
  }
  
}
@media (max-width:767px) and (max-height:870px) {
  #landing{
    height: 130vh;
  }
  
}
@media (max-width:767px) and (max-height:800px) {
  #landing{
    height: 140vh;
  }
  
}
@media (max-width:767px) and (max-height:765px) {
  #landing{
    height: 150vh;
  }
  
}
@media (max-width:767px) and (max-height:710px) {
  #landing{
    height: 160vh;
  }
  
}
@media (max-width:767px) and (max-height:665px) {
  #landing{
    height: 170vh;
  }
  
}

@media (max-width:767px) and (max-height:590px) {
  #landing{
    height: 190vh;
  }
  
}